:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

* {
  box-sizing: border-box;
}

h1 {
  margin-left: 1%;
}

h2 {
  margin-top: 0;
  margin-bottom: 5px;
}

h3 {
  margin-left: 1%;
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 1%;
}

nav li {
  list-style-type: none;
  padding: 0px 5px;
}

.EVsCont {
  display: flex;
  flex-wrap: wrap;
}

.EvTile {
  width: 18.8%;
  border: 1px solid black;
  border-radius: 5px;
  margin-left: 1%;
  margin-top: 1%;
  padding: 5px;
}

.EVsCont :nth-child(5n) {
  margin-right: 1%;
}

.EvDetail {
  margin: 1%;
}

.evForm {
  display: flex;
  flex-wrap: wrap;
  margin-left: 1%;
}

.tdLabel {
  text-align: right;
  vertical-align: top;
}

.deleteConfirm {
  margin-left: 1%;
}

.EvTypeCont {
  display: flex;
  flex-wrap: wrap;
}

.EvTypeCont :nth-child(3n) {
  margin-right: 1%;
}

.EvTypeTile {
  width: 32%;
  border: 1px solid black;
  border-radius: 5px;
  margin-left: 1%;
  margin-top: 1%;
  padding: 5px;
}

.updateEvTypeButton {
  margin-left: 1%;
}
